@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}